@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 14px;
}

.title-1 {
    font-size: 34px;
    font-weight: 600;
}

.btn {
    display: inline-block;
    padding: 7px 22px;
    background-color: #070707;
    border-radius: 30px;
    color: #fff;
    font-size: 18px; 


    transition: background-color 0.2s ease-in, top 0.2s ease-in;
}

.btn:hover, .btn:focus {
    background-color: rgb(45, 40, 40);
}

.btn:active {
    background-color: #000;
    position: relative;
    top: 1px;
}

.container {
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}

/* Header */

.header {
    background-color: #F1F1F1;
    padding-top: 46px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 76px;
}

.logo {
    position: relative;
    font-weight: 700;
    font-size: 32px;
    color: #000;

    padding: 0 12px 3px 0;
    line-height: 1;
}

.logo::after {
    position: absolute;
    right: 0;
    bottom: 0;

    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background-color: #FDA300;
    border-radius: 50%;
}

/* Nav */

.nav-list {
    display: flex;
    column-gap: 50px;
    font-weight: 50;
    font-size: 14px;
}

.nav-button {
    display: none;
}

.nav-link {
    color: #000;
}

.nav-link.active {
    color: #606060;
}

.nav-link:hover {
    color: #606060;
}

/* Header content */

.header-row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.header-content {
    max-width: 500px;
    margin-top: 124px;
}

.header-heading {
    font-weight: 600;
    font-size: 44px;
    margin-bottom: 20px;
}

.header-content p {
    line-height: 2;
}

.services {
    padding: 90px 0;
}

.services-row {
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
    row-gap: 60px;
}


.service-card {
    flex: 1 1 0;
    min-width: 315px;
}

.service-card-img {
    margin-bottom: 30px;
}

.service-card-title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.services-card p {
    line-height: 2;
}


/* Portfolio */

.portfolio {
    background-color: #F1F1F1;
    padding: 90px 0;
}

.portfolio-title {
    text-align: center;
    margin-bottom: 70px;
}


.project + .project {
    margin-top: 90px;
}

.project {
    text-align: center;
}

.project-img {
    margin-bottom: 40px;
}

.project-title {
    font-size: 18px;
}

.project-title a {
    color: #000;
    text-decoration: underline;
}

/* footer */

.contacts {
    padding: 90px 0;
    text-align: center;
}

.contacts-title {
 
    margin-bottom: 40px;

}

.contacts-content { 
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
    font-size: 18px;
    margin-bottom: 40px;
}
.contacts-button {
    margin-bottom: 80px;
}

.btn {
    display: inline-block;
    padding: 7px 22px;
    background-color: #070707;
    border-radius: 30px;
    color: #fff;
    font-size: 18px; 
}
.contacts-social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    margin-bottom: 40px;
}

.contacts-footer {
    color: #828282;
}
